<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FinanceU</title>
    <link href="stylesheets/bootstrap/css/bootstrap.min.css" rel="stylesheet" >
    <link href="stylesheets/style.css" rel="stylesheet" >
    <link href="stylesheets/ticker_form.css" rel="stylesheet" >
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  </head>
  <body>

  <header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="#" class="navbar-brand">FinanceU</a>
      </div>
    </div>
  </header>
    
    <div class="jumbotron">
      <div class="container">
        {{{ body }}}
      </div>
    </div>
    
    <footer>

    </footer>
    
    <script src="javascripts/bundle.js"></script>
    <script src="javascripts/core_ui.js"></script>
  </body>
</html>
