doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src="/javascripts/build/react.js")
    script(type='text/javascript', src="/javascripts/build/JSXTransformer.js")
  body
    block content

    script(type='text/javascript', src="javascripts/components/CoreDisplay.react.js")
