doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src="https://fb.me/react-0.13.3.js")
    script(type='text/javascript', src="https://fb.me/JSXTransformer-0.13.3.js")
    script(type='text/javascript', src="https://code.jquery.com/jquery-2.1.3.min.js")
  body
    block content

    script(type='text/javascript', src="javascripts/components/CoreDisplay.react.js")
